<div class="modal fade" tabindex="-1" id="profilModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 15px;">
            <form method="POST" action="/login">
                <div class="modal-body img js-fullheight"
                    style="background-image: url(/static/image/bg.jpg);border-radius: 12px;">
                    <section class="ftco-section">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12 text-center mb-2">
                                    <span>Votre nom d'utilisateur</span>
                                    <h2 class="heading-section" id="name_profil"></h2>
                                </div>
                                <hr>
                                <div class="col-12 text-center mb-2 mt-2">
                                    <span>Votre email ou identifiant</span>
                                    <h3 class="heading-section" id="email_profil"></h3>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="login-wrap p-0">
                                        
                                        <p class="w-100 text-center">&mdash; Merci de votre visite &mdash;</p>
                                        <div class="social d-flex text-center">
                                            <a href="#" data-dismiss="modal" class="px-2 py-2 mr-1 rounded"><span
                                                    class="ion-logo-facebook mr-2"></span> Fermer</a>
                                            <a href="/" class="px-2 py-2 ml-1 rounded"><span
                                                    class="ion-logo-twitter mr-2"></span> Accueil</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </form>
        </div>
    </div>
</div>